html {
  font-family: "Noto Sans Japanese", sans-serif;
}

.title {
  text-align: center;
}

.nav ul {
  text-align: center;
}

.nav a {
  color: #b64c6e;
  text-decoration: none;
  border-bottom: 1px solid #b64c6e;
}

.nav a:hover {
  color: #860927;
  border-color: #860927;
}
