html {
  font-family: "Noto Sans", sans-serif;
}

.jap {
  font-family: "Noto Sans Japanese", sans-serif;
}

.logo,
nav {
  text-align: center;
}

nav a {
  color: #b64c6e;
  border-bottom: 1.5px solid #b64c6e;
  display: block;
  text-decoration: none;
}

nav a:hover {
  color: #860927;
  border-color: #860927;
}

main header section {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

main header p.max-length {
  max-width: 10em;
}

.btn-ghost {
  border-color: #d89fb0;
  color: #b64c6e;
  border-width: 1.5px
}

.btn-ghost:hover {
  border-color: #860927;
  color: #860927;
  background-color: #d89fb0;
}

footer {
  border-top: 2px solid #e2e2e2;
}

@media only screen and (min-width: 25em) {

  main header p.max-length {
      max-width: 15em;
  }

}

@media only screen and (min-width: 38em) {

  main header p.max-length {
      max-width: 24em;
  }

}
